<div class="home">
  <div class="input">
    <BaseInputField
      testid="firstName"
      type="text"
      placeholder="First Name"
      name="firstName"
      :invalid-input="submitted && v$.user.firstName.$invalid"
      :error-message="`${$t('validationError.firstName')}`"
      @changeValue="updateUser"
    />
  </div>
  <div class="input">
    <BaseInputField
      testid="lastName"
      type="text"
      placeholder="Last Name"
      name="lastName"
      :invalid-input="submitted && v$.user.lastName.$invalid"
      :error-message="`${$t('validationError.lastName')}`"
      @changeValue="updateUser"
    />
  </div>
  <div class="input">
    <BaseInputField
      testid="email"
      type="email"
      placeholder="Email"
      name="email"
      :invalid-input="submitted && v$.user.email.$invalid"
      :error-message="`${$t('validationError.email')}`"
      @changeValue="updateUser"
    />
  </div>
  <div class="input">
    <BaseInputField
      testid="password"
      type="password"
      placeholder="Password"
      name="password"
      :invalid-input="submitted && v$.user.password.$invalid"
      :error-message="`${$t('validationError.password')}`"
      @changeValue="updateUser"
    />
  </div>
  <div class="input">
    <BaseInputField
      testid="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      name="confirmPassword"
      :invalid-input="submitted && v$.user.confirmPassword.$invalid"
      :error-message="`${$t('validationError.confirmPassword')}`"
      @changeValue="updateUser"
    />
  </div>
  <BaseButton testid= "registerUser" @onClick="registerUser"> {{$t('button.register')}} </BaseButton>
</div>
